/*About Me*/
.title{
    margin-top: 2em;
    text-align: center;
    padding-bottom: 1em;
    color: #000000;
}

.story{
    text-align: left;
    font-weight: 400;
    color: #555d6d;
}

.about_me{
    margin-left: 25%;
    margin-right: 25%;
    line-height: 1.8rem;
}

/*Image*/
img{
    border-radius: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}
.image_caption{
    text-align: center;
    color: #555d6d;
}

/*Font Style*/
.muli{
    font-family: 'Muli', sans-serif;
}

.miriam {
    font-family: 'Miriam Libre', sans-serif;
}

/*Responsive code*/

@media screen and (max-width: 720px) {
    .title{
        text-align: center;
    }
    .about_me{
        margin-left: 10%;
        margin-right: 10%;
    }

    img{
        display: block;
        width: 320px;
        height: 239.8px;
    }
}

@media screen and (max-width: 480px) {
    .title{
        text-align: center;
    }
    .about_me{
        margin-left: 10%;
        margin-right: 10%;
    }

    img{
        display: block;
        width: 320px;
        height: 239.8px;
    }
}